html{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}
p{
    color: #757575;
}
a{
    color: #3a3939;;
}
h2{
    color: #1a237e;
    text-transform: uppercase;
}
.direccion{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    font-style: italic;
}
.menu{
    text-decoration: underline;
    font-style: italic;
    color: #1a237e;
}
#telefono{
    font-weight: bold;
    color: #1a237e;
}